{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
      /* will touch very left side */
    }

    .children .children form {
      margin-left: -96px;
      /* will touch very left side */
    }
  }
</style>
    <section class="py-5">
      
      <div class="container text-center">
        <p class="h6 mb-0 text-uppercase text-primary">{{post.title}}</p>
        <ul class="list-inline small text-uppercase mb-0">
          <li class="list-inline-item align-middle"><img class="rounded-circle shadow-sm" src="{{post.author.profile_picture.url}}" alt="" width="40"/></li>
          <li class="list-inline-item mr-0 text-muted align-middle">By </li>
          <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#">{{post.author.user.username}}</a></li>
          <li class="list-inline-item text-muted align-middle mr-0">|</li>
          <li class="list-inline-item text-muted align-middle mr-0">{{post.timestamp}}</li>
          <li class="list-inline-item text-muted align-middle mr-0">|</li>
          <li class="list-inline-item text-muted align-middle">{{post.comment_count}}</li>
        </ul>
      </div><img class="w-100 py-5" src="{{post.thumbnail.url}}" alt="">
     
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5 mb-lg-0">
            <p class="lead first-letter-styled line-height-lg">{{post.content}}</p>
            {% if request.user.is_staff %}
              
                <!-- Link--><a class="nav-link" href="{% url 'update' post.id %}">Update</a>
                <a class="nav-link" href="{% url 'delete' post.id %}">Delete</a>
             
              {% endif %}
            
           {% load social_share %}

          {% post_to_facebook object_or_url "Share to Facebook!" %} 
          {% post_to_whatsapp object_or_url "Share via WhatsApp!" %}
          {% send_email object_or_url "Share via email!" %}
          {% post_to_telegram object_or_url "Share via telegram" %}
            <hr>

        <h6>Comments ({{post.comment_count}})</h6>
        {% if request.user.is_authenticated %}
        <div class="form-group col-md-6" id="myDIV" style="display:block;">
        <form action="/postComment/" method="post">
          {% csrf_token %}
            <input type="text" name="comment" placeholder="Comment" style="border-top: 0px; border-left: 0px; border-right: 0px; border-bottom: 2px solid;">
            <input type="hidden" name="postID" value="{{post.id}}">
            <input type="hidden" name="parentID" value="{{node.id}}">
            <button type="submit" value="Submit" class="btn btn-dark btn-sm">Submit</button>
      </form>
      </div>{% else %}
      <p><a  href="{% url 'login'  %}">Login</a>  to comment</p>
      {% endif %}
        {% load mptt_tags %}
      
      
      

      <div>
        {% recursetree comments %}
        <div id="{{ node.id }}" class="my-2 p-2" style="border: 1px solid grey">
          
                
            
          <div >
            <img src="https://p7.hiclipart.com/preview/201/51/681/computer-icons-customer-service-user-others.jpg" alt="img" class="rounded"
                    width="20px" height="20px">{{ node.user.username.capitalize }}|{{ node.posted_on|timesince }}
                  </div>
          <div>{{ node.comment }}</div>
          <hr />
          {% if node.level < 6 %}
                {% if request.user.is_authenticated %}
                <button class="button" onclick="myFunction({{ node.id }})">Reply</button>

                {% endif %}
          {% endif %}
        </div>
        {% if not node.is_leaf_node %}
        <div class="children pl-2 pl-md-5">
          {{ children }}
        </div>
        {% endif %}
        {% endrecursetree %}
      </div>

    

<script>
  function formExit() {
    document.getElementById("newForm").remove();
  }

  function myFunction(id) {
    if (document.contains(document.getElementById("newForm"))) {
      document.getElementById("newForm").remove();
    }

    var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
      '<form id="newForm" action="/postComment/" method="post">\
                            {% csrf_token %}\
                            <input type="text" name="comment" placeholder="Enter Reply" style="border-top: 0px; border-left: 0px; border-right: 0px; border-bottom: 2px solid;">\
                            <input type="hidden" name="postID" value="{{post.id}}">\
                            <input type="hidden" name="parentID" value="' + id + '">\
                            <button type="submit" value="Submit" class="btn btn-dark btn-sm">Submit</button>\
                        </form>');
    

    //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
  }

  $('#myForm').trigger("reset");
  
</script>




           
            
            </div>
            

            <!-- Latest posts widget -->
            <div class="mb-5">
              <h3 class="h5">Latest posts</h3>
              <p class="text-small text-muted mb-4">Lorem ipsum dolor sit, consectetur adipisicing elit, sed do eiusmod.</p>
              <ul class="list-unstyled">
                {% for post in most_recent %}
                <li class="media mb-1"><a href="{{post.get_absolute_url}}"><img src="{{post.thumbnail.url}}" alt="" width="80"></a>
                  <div class="media-body ml-3">
                    <p class="small text-primary text-uppercase mb-0">{{post.timestamp}}</p>
                    <h6 class="mb-1"><a class="reset-anchor" href="{{post.get_absolute_url}}">{{post.title}}</a></h6>
                    
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-dark py-4">
      <div class="container">
        <div class="row py-2">
          <div class="col-lg-4 text-center text-lg-left mb-2 mb-lg-0">
            <p class="small text-muted text-uppercase mb-0">&copy; copyright 2020 - all rights reserved</p>
          </div>
          <div class="col-lg-4 text-center mb-2 mb-lg-0">
            <ul class="list-inline text-white small mb-0">
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-4 text-center text-lg-right">
            <p class="small text-muted text-uppercase mb-0">Template designed by <a href="#">Bootstrap Temple</a>. </p>
          </div>
        </div>
      </div>
    </footer>

{% endblock content %}